<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8"/>
	<title>angular-course</title>
	<link rel="stylesheet" href="../../assets/css/style.css"></link>
</head>
<body ng-app="myApp">
	
	<div ng-controller="FullNameBinding">
		<input type="text" ng-model="model.name" />
		<input type="text" ng-model="model.surname" />
			
		<br/>
		
		<span>{{fullnameBinding()}}</span>
		<br/>
		<span ng-bind="fullnameBinding()"></span>
	</div>
	
	<div style="text-align: right;">
		<a href="../../">Indice</a>
	</div>
		
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>	
	
	<script src="../../assets/js/myApp.js"></script>
	<script src="../../assets/js/myController.js"></script>
</body>
</html>
