<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8"/>
	<title>angular-course</title>
	<link rel="stylesheet" href="../../assets/css/style.css"></link>
</head>
<body ng-app="myApp">
	
	<div ng-controller="NegocioController"></div>
	
	<div ng-controller="JQueryController">
		<span id="jquery">from jQuery!!!</span>
	</div>
	
	<div ng-controller="SelectController">
		<ul>
			<li ng-repeat="item in collection">{{item.id}} - {{item.name}}</li>
		</ul>
		
		<select ng-model="model.id" ng-options="item.id as item.name for item in collection"></select>
	</div>
	
	<div style="text-align: right;">
		<a href="../../">Indice</a>
	</div>
		
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	
	<script src="../../assets/js/myApp.js"></script>
	<script src="../../assets/js/myController08.js"></script>
	<script src="../../assets/js/myFactory.js"></script>
	<script src="../../assets/js/myService.js"></script>
	<script src="../../assets/js/myProvider.js"></script>
	<script src="../../assets/js/myCulture.js"></script>
	<script src="../../assets/js/config.js"></script>
</body>
</html>